@import "typography.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 30px 0px;
    margin: 0 50px;
}

.page-color {
    color: #828282;
}

.form-btns-design {
    color: black;
}

.sign-in {
    background-color: #F6F6F6;
    border-radius: 50px;
    text-decoration: none;
    padding: 2px 30px 5px 30px;
}

.spacer-100 {
    height: 100px;
}

.spacer-50 {
    height: 80px;
}

.custom-container-margin {
    margin-left: 35px;
}

.contact {
    margin-top: 85px;
    margin-right: 35px;
}

.nav-tabs {
    border-bottom: none !important;
}

.tab-content-rounded {
    border-radius: 30px;
}

.p-relative {
    position: relative;
    height: 407px;
}

.p-abolute {
    position: absolute;
    top: 249px;
    left: 0;
    right: 50px;
}

.dropdown-edit {
    font-size: 12px !important;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif !important;
}

.box {
    border: 1px dashed black;
}

.box-btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px #CCCCCC solid !important;
    border-radius: 10px;
    height: 15px;
    width: 15px;
}

.search-flights-btn {
    border-radius: 8px;
    padding: 10px 16px;
    margin: 23px 36px 0 0;
}

.btn-container {
    position: relative;
    height: 45px;
}

.btn-possition {
    position: absolute;
}

.final-part {
    height: 200px;
    border-radius: 20px;
    background-color: #F6F6F6;
}

.black-border-bottom {
    color: #252726;
    border-bottom: 1.9px solid #252726;
}

@media only screen and (max-width: 375px) {
    .sign-in {
        background-color: white;
        border-radius: 50px;
        text-decoration: none;
        padding: 2px 30px 5px 30px;
    }

}

@media only screen and (max-width: 375px) {
    .custom-container-margin {
        margin-left: 0px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 35px;
    }
}