@import "typography.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 30px 0 0 0;
    margin: 0 50px;
}

.navbar-text-color {
    color: #828282;
}

.nav-link-position {
    position: relative; 
}

.nav-link-position::after {
    content: '';
    position: absolute;
    background-color: #0a58ca;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.nav-link-position:hover:after, .nav-link-position:focus  {
    width: 100%;   
    color: #0a58ca;
}

.nav-link-position:focus::after {
    width: 100%;
}

.form-btns {
    color: black;
}

.sign-in {
    background-color: #F6F6F6;
    border-radius: 50px;
    text-decoration: none;
    padding: 6px 30px 9px 30px;
}

.lang-selector:hover {
    color: #0a58ca !important;
}

.header-main-spacer {
    height: 100px;
}

.main-tabs-spacer {
    height: 80px;
}

.custom-container-margin {
    margin-left: 35px;
}

.contact {
    margin-top: 85px;
    margin-right: 35px;
}

.nav-tabs {
    border-bottom: none !important;
}

.tab-btns {
    background-color: rgb(240, 240, 240) !important;
    transition: all 0.2s ease-in-out !important;   
    border-top-right-radius: 0 !important;
}

.tab-btns:hover{
    background-color: #fff !important;
}

.tab-btns.active, .tab-btns:focus  {
    transform: scale(1.1);
    background-color: #fff !important;
}

.car-btn-custom-border {
    border-top-left-radius: 0 !important;
}

.tab-content {
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    border-top-left-radius: 0 !important;
}

.p-relative {
    position: relative;
    height: 407px;
}

.p-abolute {
    position: absolute;
    top: 249px;
    left: 0;
    right: 50px;
}

.dropdown-edit {
    font-size: 12px !important;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif !important;
}

.box {
    border: 1px dashed black;
}

.box-btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    border:  0.2px #7A7A7B solid !important;
    border-radius: 10px;
    height: 15px;
    width: 15px;
}

.box-btn-edit:hover, .box-btn-edit:focus, .box-btn-edit.active {
    background-color: #7A7A7B;
    filter: invert(1);
}

.search-flights-btn {
    border-radius: 8px;
    padding: 10px 16px;
    margin: 23px 36px 0 0;
    position: absolute;
}

.btn-container {
    position: relative;
    height: 45px;
}

.final-part {
    height: 200px;
    border-radius: 20px;
    background-color: #F6F6F6;
}

.popular-destination-btn:hover {
    color: #0a58ca !important;
}

.explore-all-btn {
    color: #252726 !important;
    border-bottom: 1.9px solid #252726;
}

.explore-all-btn:hover {
    color: #0a58ca !important;
    border-bottom: 1.9px solid #0a58ca;
}

@media only screen and (max-width: 320px) {
    .final-part {
        height: 210px;
    }

    .round-trip-tgl-btn {
        padding-top: 10px;
    }

    .passengers-tglr-btn {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 375px) {

    .sign-in {
        background-color: white;
        border-radius: 50px;
        text-decoration: none;
        padding: 2px 30px 5px 30px;
    }
    
    .header-main-spacer {
        height: 40px;
    }

    .custom-container-margin {
        margin-left: 0px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 35px;
    }

    .prices  {
        font-size: 18px;
    }

    .box-titles {
        font-size: 15px;
    }

    .search-flights-btn {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .p-relative {
        position: relative;
        height: 700px;
    }

    .round-trip-tgl-btn {
        padding-top: 20px;
    }

    .passengers-tglr-btn {
        margin-top: 20px;
    }

    .btn-container {
        height: 100px;
    }

    .search-flights-btn {
        display: flex;
        align-items: center;
        position: static;
        margin: 30px 20px;
        padding: 0px 20px;
        height: 40px;
    }
    
}

@media only screen and (max-width: 425px) {
    .header-main-spacer {
        height: 40px;
    }

    .p-relative {
        height: 700px;
    }

    .p-abolute {
        margin-top: 40px;
    }

    .round-trip-tgl-btn {
        padding-top: 20px;
    }

    .passengers-tglr-btn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-pages {
        font-size: 13px;
    }

    .form-btns {
        font-size: 13px;
    }

    .box-titles {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1800px) {
    .header-main-spacer {
        height: 200px;
    }

    .final-part {
        height: 276px;
    }
}

